body{
	background: url("images/cover/school.jpg");
}

.top-nav{
	text-align:center;
	height:80%;
}

.top1{
	border-radius:5%;
}

.support-nav{
	text-align:center;
}

.support1{
	border-radius:5%;
}

.nav-button{
	font-family:"Arial narrow";
	margin-left:0%;
	margin-top:5%;
	margin-left:2%;
	border:none;
  	color: white;
	background:#0092BB;
	padding:15px;
	font-size: 15px;
	text-align:center;
	color:white;
}

.tag{
	font-family:"Arial narrow";
	margin-left:0%;
	background:#0092BB;
	padding:15px;
	margin-top:8%;
	font-size: 15px;
	text-align:center;
	color:white;
}

.tag-support{
	font-family:"Arial narrow";
	margin-left:0%;
	background:#0092BB;
	padding:15px;
	margin-top:8%;
	font-size: 15px;
	text-align:center;
	color:white;
}

.slideTitle1{
	font-family:"Arial narrow";
	margin-left:0%;
	background:#66A123;
	padding:15px;
	margin-top:8%;
	font-size: 15px;
	text-align:center;
	color:white;
}

.slideTitle2{
	font-family:"Arial narrow";
	margin-left:0%;
	background:#66A123;
	padding:15px;
	margin-top:8%;
	font-size: 15px;
	text-align:center;
	color:white;
}

.slideTitle3{
	font-family:"Arial narrow";
	margin-left:0%;
	background:#66A123;
	padding:15px;
	margin-top:8%;
	font-size: 15px;
	text-align:center;
	color:white;
}

.left{
  background:#856992;
  border-radius:50%;
  position: absolute;
  top: 50%;
  left: 4%;
  font-size: 30px;
  color:white;
  border:none;
}

.right{
  background:#856992;
  border-radius:50%;
  position: absolute;
  top: 50%;
  left: 89%;
  font-size: 30px;
  color:white;
  border:none;
}


.mySlidesV{
	border-radius:5%;
	width:80%;
	margin-left:10%;
}
.mySlidesS{
	border-radius:5%;
	width:80%;
	margin-left:10%;
}
.mySlidesJ{
	border-radius:5%;
	width:80%;
	margin-left:10%;
}
