body{
	background: url("images/cover/bottom.jpg");
}

.top-nav{
	text-align:center;
	height:80%;
}

.top1{
	border: 2px solid white;
	border-radius:5%;
}

.support-nav{
	text-align:center;
	height:80%;
}

.support1{
	border: 2px solid white;
	border-radius:5%;
}

.border-bottom{
	border-bottom:1px solid #292C3B;
	padding-top:6%;
}
.nav-button{
	border:none;
	background:transparent;
	font-family:"Arial narrow";
	margin-left:0%;
	margin-top:5%;
	margin-left:2%;
	font-size: 15px;
	text-align:center;
  	color: white;
}

.tag{
	font-family:"Arial narrow";
	margin-left:0%;
	background:transparent;
	margin-top:3%;
	font-size: 15px;
	text-align:center;
  	border-radius: 10px 10px 10px 10px;
  	color:white;
}

.tag-support{
	font-family:"Arial narrow";
	margin-left:0%;
	background:transparent;
	margin-top:3%;
	font-size: 15px;
	text-align:center;
  	border-radius: 10px 10px 10px 10px;
  	color:white;
}

.slideTitle1{
	font-family:"Arial narrow";
	margin-left:0%;
	background:transparent;
	margin-top:8%;
	font-size: 15px;
	text-align:center;
  	border-radius: 10px 10px 10px 10px;
  	color:white;
}

.slideTitle2{
	font-family:"Arial narrow";
	margin-left:0%;
	background:transparent;
	margin-top:8%;
	font-size: 15px;
	text-align:center;
  	border-radius: 10px 10px 10px 10px;
  	color:white;
}

.slideTitle3{
	font-family:"Arial narrow";
	margin-left:0%;
	background:transparent;
	margin-top:8%;
	font-size: 15px;

	text-align:center;
  	border-radius: 10px 10px 10px 10px;
  	color:white;
}

.left{
  border:none;
  background:transparent;
  position: absolute;
  top: 50%;
  left: 5%;
  font-size: 15px;
  color:white;
}

.right{
  border:none;
  background:transparent;
  position: absolute;
  top: 50%;
  left: 87%;
  font-size: 15px;
  color:white;
}

.mySlidesV{
	border: 2px solid white;
	border-radius:5%;
	width:80%;
	margin-left:10%;
}
.mySlidesS{
	border: 2px solid white;
	border-radius:5%;
	width:80%;
	margin-left:10%;
}
.mySlidesJ{
	border: 2px solid white;
	border-radius:5%;
	width:80%;
	margin-left:10%;
}
